services:
  db:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: workflow
    ports: ["5432:5432"]
    volumes:
      - db18:/var/lib/postgresql
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]


  rabbit:
    image: rabbitmq:3.13-management
    ports: ["5672:5672", "15672:15672"]
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  kafka:
    image: apache/kafka:4.1.0
    ports: ["9092:9092"]
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka-data:/var/lib/kafka/data

  # api:
  #   build: ./api
  #   env_file: ./api/.env
  #   depends_on: [db, rabbit]
  #   ports: ["3001:3001"]

  # web:
  #   build: ./web
  #   env_file: ./web/.env.local
  #   depends_on: [api]
  #   ports: ["3000:3000"]


  dbgate:
    image: dbgate/dbgate
    depends_on: [db]
    ports: ["3003:3000"]
    environment:
      CONNECTIONS: local
      LABEL_local: Workflow PG
      SERVER_local: db
      USER_local: postgres
      PASSWORD_local: postgres
      ENGINE_local: postgres@dbgate-plugin-postgres
      DATABASE_local: workflow


volumes:
  db18:
  pgadmin_data:
  kafka-data:



# docker compose down --volumes --remove-orphans
# docker compose up -d --build db rabbit
# # check: http://localhost:15672  (guest/guest)
# docker compose run --rm api sh -lc "npm ci && npm run db:init && npm run build && npm start"
# docker compose run --rm -p 3000:3000 web sh -lc "npm ci && npm run dev"

# docker compose run --rm api sh -lc "psql -h db -U postgres -d workflow -f ./schema.sql"
